
@import './abstracts/partials.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.game{
    height: 100vh;
    background-image: url(/img/bowserscastle.jpg);
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
        flex-direction: column;
    }
}



#easy-game{
    background-image: url(/img/easybackground.jpg);
}

#medium-game{
    background-image: url(/img/dungeon.jpg);
}

// Homepage styles
.homepage{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(#323232, 0.5),rgba(#323232, 0.5)),url(./img/home.jpg); 
    font-family: $norm-font;
    margin: 0 6rem 0 6rem;

    @include tablet{
        margin: 0 4rem 0 4rem;
    }

    @include mobile{
        margin: 0 3rem 0 3rem;
    }


    &__difficulties{
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__wrd-1{
        color: $red;
    }

    &__wrd-2{
        color: $blue;
    }

    &__wrd-3{
        color: $yellow;
    }

    &__wrd-4{
        color: $green;
    }

    &__wrd-5{
        color: $red;
    }


}

a{
    cursor: pointer;
    text-decoration: unset;
    font-size: 40px;
    color: $red;

    @include tablet{
        font-size: 1.6rem;
    }

    @include mobile{
        font-size: 1.2rem;
    }
}

.opening-title{
    margin-bottom: 3rem;
    font-size: 3rem;

    @include tablet{
        font-size: 2rem;
    }

    @include mobile{
        font-size: 1.5rem;
    }
}


// End of homepage styles


// Main character images
.character-container{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-bowser{
    height: 50vh;

    @include tablet{
        height: 30vh;
    }

    @include mobile{
        height: 20vh;
        margin-top: 5rem;
    }
}

#main-boo{
    height: 50vh;

    @include tablet{
        height: 30vh;
    }

    @include mobile{
        height: 20vh;
        margin-top: 5rem;
    }
}

#main-goomba{
    height: 50vh;

    @include tablet{
        height: 30vh;
    }

    @include mobile{
        height: 20vh;
        margin-top: 5rem;
    }
}



.memory-game{
    width: 800px;
    height: 800px;
    margin: auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

    @include tablet{
        width: 500px;
        height: 500px;
    }

    @include mobile{
        width: 350px;
        height: 350px;
    }
}

.memory-card{
    cursor: pointer;
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

#medium-card{
    width: 18%;
    height: 18%;
}

#hard-card{
    width: 10%;
    height: 15%;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px ;
    background: rgb(59, 59, 230);
    backface-visibility: hidden;
}

.front-face{
    transform: rotateY(180deg);
}