@font-face {
  font-family: "glori-reg";
  src: url(../fonts/GloriaHallelujah-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.game {
  height: 100vh;
  background-image: url(/img/bowserscastle.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .game {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#modal {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: white;
  right: 500px;
}

button {
  font-family: "glori-reg";
  background-color: transparent;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  font-size: 1.1rem;
  background-color: #fbd000;
  color: #000000;
}

button:focus {
  outline: 0;
}

.game-button {
  margin-right: 1rem;
  margin-left: 3rem;
}

@media only screen and (max-width: 768px) {
  .game-button {
    height: 80px;
    min-width: 80px;
    margin-top: 2rem;
    margin-left: 3rem;
  }
}

#easy-game {
  background-image: url(/img/easybackground.jpg);
}

#medium-game {
  background-image: url(/img/dungeon.jpg);
}

.homepage {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5)), to(rgba(50, 50, 50, 0.5))), url(./img/home.jpg);
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(./img/home.jpg);
  font-family: "glori-reg";
  margin: 0 6rem 0 6rem;
}

@media only screen and (max-width: 1200px) {
  .homepage {
    margin: 0 4rem 0 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .homepage {
    margin: 0 3rem 0 3rem;
  }
}

.homepage__difficulties {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.homepage__wrd-1 {
  color: #e52521;
}

.homepage__wrd-2 {
  color: #049cd8;
}

.homepage__wrd-3 {
  color: #fbd000;
}

.homepage__wrd-4 {
  color: #43b047;
}

.homepage__wrd-5 {
  color: #e52521;
}

.homepage__buttons {
  margin-right: 2.1rem;
  margin-top: 3rem;
}

a {
  cursor: pointer;
  text-decoration: unset;
  font-size: 40px;
  color: #e52521;
}

@media only screen and (max-width: 1200px) {
  a {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 768px) {
  a {
    font-size: 1.2rem;
  }
}

.opening-title {
  margin-bottom: 3rem;
  font-size: 3rem;
}

@media only screen and (max-width: 1200px) {
  .opening-title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .opening-title {
    font-size: 1.5rem;
  }
}

.character-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-bowser {
  height: 50vh;
}

@media only screen and (max-width: 1200px) {
  #main-bowser {
    height: 30vh;
  }
}

@media only screen and (max-width: 768px) {
  #main-bowser {
    height: 20vh;
    margin-top: 5rem;
  }
}

#main-boo {
  height: 50vh;
}

@media only screen and (max-width: 1200px) {
  #main-boo {
    height: 30vh;
  }
}

@media only screen and (max-width: 768px) {
  #main-boo {
    height: 20vh;
    margin-top: 5rem;
  }
}

#main-goomba {
  height: 50vh;
}

@media only screen and (max-width: 1200px) {
  #main-goomba {
    height: 30vh;
  }
}

@media only screen and (max-width: 768px) {
  #main-goomba {
    height: 20vh;
    margin-top: 5rem;
  }
}

.memory-game {
  width: 700px;
  height: 700px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@media only screen and (max-width: 1200px) {
  .memory-game {
    min-width: 450px;
    min-height: 450px;
  }
}

@media only screen and (max-width: 768px) {
  .memory-game {
    width: 350px;
    height: 350px;
  }
}

.memory-card {
  cursor: pointer;
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#medium-card {
  width: 18%;
  height: 18%;
}

#hard-card {
  width: 10%;
  height: 15%;
}

.memory-card:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.memory-card.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.front-face, .back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  background: #3b3be6;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.front-face {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.counter-container {
  font-family: "glori-reg";
  font-size: 2rem;
  color: #e52521;
  border: solid 2px #fbd000;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  margin: 4rem;
  width: 180px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .counter-container {
    position: unset;
    margin: unset;
  }
}
/*# sourceMappingURL=styles.css.map */